common/config/overrides/local.php
frontend/config/overrides/local.php
console/config/overrides/local.php
backend/config/overrides/local.php

common/config/overrides/environment.php
common/config/overrides/prod.php
frontend/config/overrides/environment.php
console/config/overrides/environment.php
backend/config/overrides/environment.php
behat-local.yml

reports/*

backend/www/assets/*
backend/runtime/*
backend/packages/core/compiled/*
backend/packages/core/lib/*
frontend/www/assets/*
frontend/runtime/*
console/runtime/*

Thumbs.db
*.DS_Store
*.empty
*.sass-cache
.vagrant

vendor/*
node_modules/*

bin/apigen*
bin/behat
bin/phing
bin/phploc
bin/pdepend
bin/phpmd
bin/phpcpd
bin/phpcs
bin/phpcb
bin/phpunit
bin/webunit
PRODUCTION_MODE

.idea
.settings
.buildpath
.project
